.navbar {
    padding: 0rem 1rem;
}

.navbar-brand {
    background-color: teal;
    padding: 30px;
}

.navbar-light .navbar-brand {
    color: white;
}

body {
    background-image: url("background-pic.jpg");
}

h1 {
    color: teal;
}

.about {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.portfolio {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

#bio-pic {
    height: 200px;
    float: left;
    margin-right: 20px;
}